<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excercise 1</title>
    <link rel="stylesheet" href="/exercises/styles/ex1_styles.css" />
  </head>
  <body>
    <!-- Using <div> and <p> element-->
    <div class="container">
      <p class="item">About</p>
      <p class="item">Courses</p>
      <p class="item">Forum</p>
      <p class="item path">Learning Paths</p>
      <p class="item">Contact</p>
    </div>

    <!-- Using <ul> and <il> -->
    <ul class="container2">
      <li class="li-item">About</li>
      <li class="li-item">Courses</li>
      <li class="li-item">Forum</li>
      <li class="li-item path">Learning Paths</li>
      <li class="li-item">Contact</li>
    </ul>
  </body>
</html>
