/*
    We can also select elements based on the relationship with other elements.
    First we target the id then the element.
    WARRNING: relational selectors are really fragile, if an element is moved for its father
    element, it could restyle it.
*/
#product {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  text-align: center;
  margin: 5px;
}
#product p {
  color: gold;
  background-color: gray;
  width: 300px;
}

/* 
  Here i am targetting the 1st paragraph, that is a direct child of the section - products2 element.
*/
#product2 {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  text-align: center;
  margin: 5px;
}
#product2 > p {
  color: whitesmoke;
  background-color: rgb(96, 95, 95);
  width: 250px;
}

/* 
  Here i am targetting the 1st paragraph, that is a sibling of the section - products3 element.
*/
#product3 {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  text-align: center;
  margin: 5px;
}
#product3 + p {
  color: rgb(202, 142, 142);
  background-color: rgb(48, 51, 46);
  width: 200px;
}

/* Selecting ALL direct siblings.*/
#product4 {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  text-align: center;
  margin: 5px;
}
#product4 ~ p {
  color: rgb(202, 142, 142);
  background-color: rgb(48, 51, 46);
  width: 200px;
}
