body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  padding: 1rem;
}

/* 
  Im going to display the label above the input box, we do this using the 'display'
  property, seting the value to 'block', because <label> is an inline-level element.
*/
label {
  display: block;
}

/* 
  Styling <input> element, as we know we have different types of inputs fields 
  (checkboxes, radiobutton, etc.) in this lesso we used single line 'text' field 
  and 'email' fields. So having this in mind we dont want to blindly apply the
  rule for all kinds of input fields, we wanna apply this only to text fields.

  This is where we can use an 'attribute selector', to do so, after the element
  (no space) we open square brackets and type an attribute.
*/
input[type="text"],
input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: box-shadow 0.15s, border-color 0.15s;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #7db0fb;
  /* 
    We use 'outline' property to get rid of the default dark blue border, 
    that many browsers apply it by default.
  */
  outline: 0;
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}

button {
  background: #0d6efd;
  color: white;
  padding: 0.5rem 0.7rem;
  border: 0;
  border-radius: 5px;
  /* To get rid of the default dark blue border */
  outline: 0;
}

button:hover {
  background: #0d6dfd9b;
}

button:active {
  background: #3b7bda;
}
.form_group {
  margin-bottom: 1rem;
}
