<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid layout</title>
    <!-- 
        We saw that flexbox is really good to lay out elements in a row on a column.

        But to lay out content in both row and columns we use GRID.

        To define a grid first we need a container, and then use the 'display:grid' property,
        we use 'grid-template-row' and 'grid-template-columns' to define the number and size of
        rows and columns.
        
        To change the alignment of the items in the grid we need to remember two properties
        'justify-items' (aligning items along the horizontal axis) and 'align-items' (aligning items along
        the vertical axis), this propeties are applied to the container and will arlign the items
        inside each block on the grid.
        
        We also have 'justify-content' (alignt the grid along horizontal axis) and 'align-content' (align the grid
        along the verical axis) this are used to align the grid inside the container.

        NOTE: a basic rule is that if you see the word 'content' that represents the entire grid (the entire content of
        the container) and if you see 'items' that represents individual items in the grid.

        We can apply a gap between rows and columns, we have three properties for that 'row-gap', 'column-gap', 
        and 'gap' which is the shorthand for the first two properties. 

        For placing items in a grid we have three properties 'grid-row', 'grid-column' and 'grid-area' (shorthand for 
        grid row and grid column) by setting this properties on an ITEM, we can control where the item should be placed.

        Another way to place items is by defining specific areas in out grid and then placing our items in those areas
        have also two properties for doing this, one is 'grid-template-area' in our container, to define the areas.
        And then on individual items, we have 'grid-area' to a particular area.
    -->
    <link rel="stylesheet" href="/styles/grid_style.css" />
  </head>
  <body>
    <div class="container"></div>
    <div class="container2"></div>
    <!-- Here is aligned by default. -->
    <div class="container3">
      <div class="box">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
      <div class="box">D</div>
    </div>

    <!-- In this container the item are aligned along horizontal axis. -->
    <div class="container4">
      <div class="box">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
      <div class="box">D</div>
    </div>

    <!-- Items fill their entire cell in the grid -->
    <div class="container5">
      <div class="box1">A</div>
      <div class="box1">B</div>
      <div class="box1">C</div>
      <div class="box1">D</div>
    </div>

    <!-- 
      We have been working with cells of same dimension, if we want the columns or rows
      to have diferent dimensions we use a relative unit called 'fr' fraction.
      We can also add a gap between columns or rows.
    -->
    <div class="container6">
      <div class="box1">A</div>
      <div class="box1">B</div>
      <div class="box1">C</div>
      <div class="box1">D</div>
    </div>

    <!-- 
      In this container we are changing the items placing. For this we are giving the 1st 
      box aother class, so we can place ir where we want.
    -->
    <div class="container7">
      <div class="box1 box-one">A</div>
      <div class="box1 box-two">B</div>
      <div class="box1 box-three">C</div>
      <div class="box1">D</div>
    </div>

    <!-- 
      In this container we are practicing the 'grid-template-area'
     -->
    <div class="container8">
      <div class="box1 box-one-8">A</div>
      <div class="box1 box-two-8">B</div>
      <div class="box1 box-three-8">C</div>
      <div class="box1 box-four-8">D</div>
    </div>
  </body>
</html>
