html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
}

.article {
  /* Element display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Container geometry */
  height: fit-content;
  max-width: 500px;
  width: 25rem;
  padding: 0 2.5rem;
  border-radius: 30px;

  /* Overflow */
  overflow: hidden;

  /* Shadow */
  box-shadow: 0 0 20px 30px #e2e2e2b4;
}

.post {
  /* Element displaying */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Container geometry */
  padding: 1.8rem 2.5rem;
  width: 100%;
  height: fit-content;
  max-height: 70%;
  min-height: 40%;

  /* Font related properties */
  font-weight: 500;
  overflow-y: auto;
  letter-spacing: 0.025rem;
  word-spacing: 0.1rem;

  /* overflow */
  overflow-y: auto;

  /* Background properties */
  background: rgb(240, 240, 240);
}

.footer {
  /* Element displaying */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  /* Container geometry */
  padding: 1rem 2.5rem;
  width: 100%;
  height: 30%;

  /* Background properties */
  background: linear-gradient(
    270deg,
    rgba(155, 201, 201, 1) 64%,
    rgba(94, 215, 184, 1) 125%
  );
}

.user_photo {
  height: 3.5rem;
  border-radius: 3rem;
  border: 3px solid whitesmoke;
  margin-right: 1rem;
}

.user_nickname {
  font-weight: 700;
  color: rgb(239, 239, 239);
  text-decoration: none;
}
