/* Variables */
:root {
  --primary_color: #2584ff;
  --secondary_color: #00d9ff;
  --accent_color: #ff3400;
  --heading_color: #1b0760;
  --text_color: #918ca4;
  --border_color: #ccc;
  --border_radius: 40px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  /* 
    Here we use 62.5% because the default size of web pages is 16px, if we give it 
    62.5% * 16px = 10px, its easyer for us to set the font size of each element,
    knowing that the size of the parent element is 10px.
  */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text_color);
  font-size: 2.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--heading_color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link_arrow {
  color: var(--accent_color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

/* Adding the arrow at the end of the anchor element */
.link_arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.25s;
}

/* Appling a effect when the link is hovered, im going to target the arrow */
.link_arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link_arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 2.4rem;
  color: white;
  display: inline;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  white-space: nowrap;
}

/* Using BEM naming convention to separate the block element from the modifier */
.badge--primary {
  background: var(--primary_color);
}

.badge--secondary {
  background: var(--secondary_color);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--heading_color);
}

/* In inline list we want to convert each eleemnt in inline elements */
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--bullet {
  list-style-image: url("/data/icons/tick.svg");
  padding-left: 3rem;
}

/* Applying padding to the text after the bullet list image */
.list--bullet .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--bullet .list__item {
    padding-left: 0;
  }
}

/* Icons */

/* For icons i went to svgsprit.es to generate a sprite of all icons */
.icon {
  width: 40px;
  height: 40px;
}

/* To apply color to an SVG we use the 'fill' property */
.icon--primary {
  fill: var(--primary_color);
}

.icon_container {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f3f9fa;
}

/* Buttons */

.btn {
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: var(--border_radius);
  border: none;
  outline: 0;
  padding: 2rem 3rem;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
  font-weight: 600;
}

.btn--accent {
  background: var(--accent_color);
  color: white;
  transition: background 0.15s;
}

.btn--accent:hover {
  background: #fd7272;
}

.btn--outline {
  background: white;
  border: 2px solid var(--heading_color);
  color: var(--heading_color);
  transition: color 0.25s, background 0.25s;
}

.btn--outline:hover {
  color: white;
  background: var(--heading_color);
}

.btn--secondary {
  color: white;
  background: var(--secondary_color);
  transition: background 0.25s;
}

.btn--secondary:hover {
  background: #8deffa;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.domain_input {
  border-radius: var(--border_radius);
  border: 1px solid var(--border_color);
  color: var(--heading_color);
  font-size: 2rem;
  outline: 0;
  padding: 2rem 3rem;
}

::placeholder {
  color: #a6a5ac;
}

.input_group {
  border: 1px solid var(--border_color);
  border-radius: var(--border_radius);
  display: flex;
}

/* Using nesting to target inputs inside a container */
.input_group .domain_input {
  border: 0;
  flex-grow: 1;
  /*padding: 1.5rem 1rem;*/ /* We can uncomment this if the button is located first */
}

.input_group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .domain_input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--primary_color);
  color: white;
}

.card--secondary .card__header {
  background-color: var(--secondary_color);
  color: white;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}
/* Plan component */
/* Its the card component filled with all other elements needed for the correct visualitation */

.plan__name {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing_cylce {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

/* Badge - Popular */
/* 
  We use pseudo element selector to insert the badge, before the header of plan element 
*/
.plan--popular .card__header::before {
  content: url(../data/images/popular.svg);
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 5%;
}

/* 
  Since we are using absolute positioning for the popular badge,
  we need to set the parent positioning to relative.
  So if we have a plan that is popular the card__header should have
  relative postitioning.
*/
.plan--popular .card__header {
  position: relative;
}

/* Since we are using  */
@media screen and (min-widht: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing_cylce {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media Objects */
.media {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-bottom: 6.5rem;
}

.media__icon {
  margin-top: 1rem;
}
.media__body {
  margin: 0 2rem;
}
.icon--media {
  fill: #237df2;
}

.media__title {
  color: white;
  margin: 0 0 1rem;
}

.media__description {
  color: #646c71;
  margin: 0;
}
